<!doctype html>
<html lang="ru ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parser NAU</title>
    <style>
        .table_project {
            font-size: 25px;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        .sort:hover{
            cursor: pointer;
        }
        .full_info {
            color: green;
        }

        @media (max-width: 500px) {
            .table_project {
                font-size: 12px;
                margin: 5px;
                width: 100%;
            }
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="table_project">
    <h2 class="friend text-center">Проекти команди НАУ</h2>
    <hr>
    <div class="row">
        <div class="col-1 text-center number" onclick="sort()">№
            <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort">
        </div>
        <div class="col-3">Назва</div>
        <div class="col-2 full_info">Всього голосів <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
        <div class="col-1 text-center 10min_info">За 10 хв <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
        <div class="col-1 text-center 1h_info">За 1 год <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
        <div class="col-1 text-center 3h_info">За 3 год <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
        <div class="col-1 text-center 6h_info">За 6 год <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
        <div class="col-1 text-center 12h_info">За 12 год <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
        <div class="col-1 text-center 24h_info">За 24 год <img src="../images/iconfinder_chevron-circle-down_1608620.svg" class="sort" height="40" width="40" alt="sort"></div>
    </div>
    <hr class="appendTo">
    <% data.forEach(function (value1, index) { %>
    <div class="row sort_rows">
        <div class="col-1 number"><%= value1.number %></div>
        <div class="col-3 project_link">
            <a href="<%=value1.link %>"> <%= value1.name %></a></div>
        <div class="col-2 text-center full_info"><%= value1.suffrage %></div>
        <div class="col-1 text-center 10min_info"><%= value1.ten %></div>
        <div class="col-1 text-center 1h_info"><%= value1.hour1 %></div>
        <div class="col-1 text-center 3h_info"><%= value1.hour3 %></div>
        <div class="col-1 text-center 6h_info"><%= value1.hour6 %></div>
        <div class="col-1 text-center 12h_info"><%= value1.hour12 %></div>
        <div class="col-1 text-center 24h_info"><%= value1.hour24 %></div>
    </div>
    <hr>
    <% if(index == 10) { %>
    <h2 class="friend text-center">Дружні проекти</h2>
    <hr>
    <% } %>
    <% }); %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/javascripts/sort.js" type="text/javascript"></script>
</body>
</html>